body {
    height: 100vh;
    font-family: 'Segoe UI Light';
    background: #fdfdfd;
}

/* .container-fluid {
    padding: 1rem 2rem;
} */

.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-offset-0, .col-md-offset-1, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9 {
    padding: 0 !important;
}

.row {
    margin: 0;
}

.inner-row {
    margin: 0 0 0 1rem;
}


.card {
    padding: 1rem;
    margin: 1rem;
    background: white;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(0, 30, 50, 0.06);
    box-shadow: 0 1px 5px rgba(0, 30, 50, 0.04);
}

.inner-row .col-md-6:first-child .card{
    margin-left: 0;
}

#map {
    padding: 0;
}

.key-number-container {
    display: flex;
    direction: column;
    align-items: center;
    justify-content: center;
    height: calc(175px - 3rem);
}

.key-number {
    font-size: 4rem;
    font-weight: bold;
    color: #49545f;
    margin: 0;
    margin-top: -1rem;
}

.key-number-description {
    font-size: 1.5rem;
    color: #75879b;
    margin: 0;
    margin-top: -1rem;
}


#map {
    height: calc(350px);
}

#list-buttons-container,
#piechart-container {
    height: 250px;
}

#list-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#list-buttons {
    display: flex;
    flex-direction: row;
}

#list-buttons-header {
    display: flex;
    align-self: flex-start;
    margin-left: 1.5rem;
}

.list-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem;
    font-size: 1.5rem;
    color: #49545f;
}

.icon {
    /* background: #225692; */
    border: 4px solid #49545f;
    border-radius: 100%;
    width: 6vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#list-buttons i {
    color: #49545f;
    /* color: white; */
    font-size: 3.5vw;
}

h1, h2, h3, h4, h5, h6 {
    color: #49545f;
    font-weight: 400;
    margin: 0;
}