body {
    height: 100vh;
    font-family: 'Segoe UI Light';
    background: #fdfdfd;
}

/* .container-fluid {
    padding: 1rem 2rem;
} */

.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-offset-0, .col-md-offset-1, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9 {
    padding: 0 !important;
}

.row {
    margin: 0;
}

.inner-row {
    margin: 0 0 0 1rem;
}


.card {
    padding: 1rem;
    margin: 1rem;
    background: white;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(0, 30, 50, 0.1);
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
}

.inner-row .col-md-6:first-child .card{
    margin-left: 0;
}

#map {
    padding: 0;
}

.key-number-container {
    display: flex;
    direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: calc(175px - 3rem);
}

.key-number {
    font-size: 3rem;
    font-weight: bold;
    color: #49545f;
    margin: 0;
    margin-top: -1rem;
}

.key-number-description {
    font-size: 1rem;
    color: #75879b;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: -.5rem;
}


#map {
    height: calc(350px);
}

#list-buttons-container,
#piechart-container {
    height: 200px;
}


#list-buttons-header {
    display: flex;
    align-self: flex-start;
    margin-left: 1.5rem;
}

#list-buttons {
    margin-top: 1rem;
}

.list-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: #49545f;
    cursor: pointer;
}

.list-button:hover .icon {
    color: white;
    background: #49545f;
    transform: scale(1.05);
}

.icon {
    background: #eff2f5;
    border-radius: 100%;
    width: 4.2vw;
    height: 4.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #49545f;
    transition: all .1s ease, transform .15s ease;
}

#list-buttons i {
    font-size: 2.5vw;
}

h1, h2, h3, h4, h5, h6 {
    color: #49545f;
    font-weight: 400;
    margin: 0;
}